.create-event-form {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
 
  .create-event-form label {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  .create-event-form input {
    background-color: #1A1D27;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
   
  }
 
  .create-event-form input::placeholder {
    color: #7a7a7a;
  }
  .create-event-form .date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
 
  .create-event-form .date-time .date,
  .create-event-form .date-time .time {
    width: 48%;
  }
.create-event-form button[type="submit"] {
    background:  linear-gradient(293deg, rgba(47,89,255,1) 0%, rgba(195,136,255,1) 100%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
 
  .create-event-form button[type="submit"]:hover {
    background: #7F98FF;
  }
input{
    outline: none;
}
 




