section {
    display: flex;
    align-items: center;
    background: rgb(36,39,52);
    background: linear-gradient(180deg, rgba(36,39,52,1) 0%, rgba(97,76,140,1) 82%, rgba(137,101,198,1) 100%);
}

div {
    padding-left: 5rem;
    padding-top: 4rem;
    gap: 1rem;
    padding-right: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
    background: #C388FF;
    background: linear-gradient(to right, #C388FF 0%, #2F59FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem;
}
#div-titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#subtitle-bold {
    font-weight: 800;
}

#subtitle-light {
    font-weight: 280;
}

@media (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div {
        height: fit-content;
    }

    h1 {
        align-self: center;
    }

    #subtitle-light {
        display: none;
    }
}