.container-category {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}
.profileimg {
    height: 1.5rem;
}

@media (max-width: 768px) {
    h3 {
        display: none;
    }

    .profileimg {
        height: 2rem;
    }
}