:host {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
