:host {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.3px;
}
.profile-picture {
    background-color: #cccccc50;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.3rem;
  }
