/* :host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.3px;
    width: 28%;
}
.profile-picture {
    background-color: #cccccc50;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.3rem;
}
.profile-container h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.profile-container label {
    color: #ccccccb7;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.profile-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #242734;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.profile-container button {
    background: linear-gradient(293deg,rgba(47, 89, 255, 1) 0%,rgba(195, 136, 255, 1) 100%);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1.6rem;
    font-size: 1rem;
    cursor: pointer;
}

.user-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 7rem;
    padding-top: 2.5rem;
    border-top: solid 1px #cccccc50;
}

.profile-container button:hover {
    background-color: #0056b3;
}

.logout-button {
    display: none;
    color: #DA4646;
    opacity: 85%;
}

@media (max-width: 768px) {
    .logout-button {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .profile-info{
        width: 65%;
    }
}