* {
    margin: 0;
    padding: 0;
    background-color: #16181A;
    font-family: 'Switzer', sans-serif;
}

.navbar {
    width: fit-content;
}

.screen-container {
    display: flex;
    justify-content: center;
}
