* {
    margin: 0;
    padding: 0;
    background-color: #16181A;
    font-family: 'Switzer', sans-serif;
}

.mobile-navbar {
    display: none;
}

.navbar {
    width: 20vw;
    position: fixed;
}

.screen-container {
    display: flex;
    width: 100vw;
}

.dashboard {
    width: 40%;
}

.chat-container {
    width: 20vw;
    position: fixed;
}

@media (max-width: 768px) {
    .chat-container {
        display: none;
    }

    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: fixed;
        align-self: flex-end;
    }
}
